---
layout: default
---
{% include topnav.html %}

<main class="wrapper">
  <nav class="side-nav">
    <button id="toggleNavButton">Menu</button>
    <ul>
      <li>
        <!-- original:
        <span>Home</span>
        -->
        <span>ホーム</span>
        <ul>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/overview/">Overview</a>
            -->
            <a href="{{site.baseurl}}/overview/">概要</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/browser-support/">Browser support</a>
            -->
            <a href="{{site.baseurl}}/browser-support/">ブラウザサポート</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/sample-apps/">Sample apps</a>
            -->
            <a href="{{site.baseurl}}/sample-apps/">サンプルアプリ</a>
          </li>
        </ul>
      </li>
      <li>
        <!-- original:
        <span>Guides</span>
        -->
        <span>ガイド</span>
        <ul>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/setup/">Setup</a>
            -->
            <a href="{{site.baseurl}}/setup/">セットアップ</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/configuring-and-personalizing/">Configuring and personalizing</a>
            -->
            <a href="{{site.baseurl}}/configuring-and-personalizing/">設定方法</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/redux-and-state-management/">Redux and state management</a>
            -->
            <a href="{{site.baseurl}}/redux-and-state-management/">Reduxと状態管理</a>
          </li>
        </ul>
      </li>
      <li>
        <!-- original:
        <span>Ready for production</span>
        -->
        <span>本番環境への準備</span>
        <ul>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/building-and-deploying/">Building and deploying</a>
            -->
            <a href="{{site.baseurl}}/building-and-deploying/">ビルドとデプロイ</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/performance-testing/">Performance testing</a>
            -->
            <a href="{{site.baseurl}}/performance-testing/">パフォーマンステスト</a>
          </li>
          <li>
            <!-- original:
            <a href="{{site.baseurl}}/application-testing/">Application testing</a>
            -->
            <a href="{{site.baseurl}}/application-testing/">アプリケーションテスト</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <article>
    <h1>
      {{ page.title }}
    </h1>
    
    <div class="alert alert-info">
      <p>
        <!-- - original:
        This documentation is a work in progress. It describes prerelease software, and is subject to change.
        -->

        このドキュメントは作業中です。リリース前の情報であり、変更される可能性があります。
        
      </p>
    </div>

    {{ content }}
  </article>
</main>

<script>
  toggleNavButton.addEventListener('click', function(event) {
    const nav = event.target.parentElement;
    nav.classList.toggle('open');
  });
</script>
